<footer class="bg-warning">
    <div class="logo">
        <img src="../../../../assets/img/coderhouse.webp" alt="logo" height="100">
    </div>
    <div class="text-light">
        <h3 class="text-dark">REDES SOCIALES</h3>
        <a href="https://www.facebook.com/groups/teksystem.co" >
            <img src="../../../../assets/img/facebook.png" alt="logo" height="50" width="50">
            <img src="../../../../assets/img/instagram.png" alt="logo" height="50" width="50">
        </a>
    </div>
    <div class="text-light">
        <h3 class="text-dark">CONTACTANOS</h3>
        <a href="https://api.whatsapp.com/send/?phone=%2B51901558752&text&type=phone_number&app_absent=0" >
            <img src="../../../../assets/img/WhatsApp.png" alt="logo whatsapp"height="50" width="50" >
        </a>
    </div>
</footer>