.gradient {
    background-image: linear-gradient(rgb(7, 7, 7), #306b4d); }

footer{
    display: flex;
    justify-content: space-around;
    background-color:beige;
}
h3 {
    font-weight: bold;
    font-size: medium;
}